.main {
  width: 100%;
  height: 100%;
}

/* ***********HEADER********** */



/* *********OUR ENTERPRISES******** */
.containOurEnterprisesFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 4rem;
  width: 98%;
  height: 45rem;
  /* background-color: rgb(83, 83, 12); */
}
.containImgEnterprises {
  width: 40%;
  height: 100%;
  /* background-color: tomato; */
}
.imgEnterprises {
  width: 100%;
  height: 100%;
}
.containTextOur5Enterprises {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  color: #edfbff;

  /* background-color: rgb(114, 17, 114); */
}
.textTitle {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
}
.textInterEnterprises {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* **********SERVICES GRID********** */
.containTitlePrincipal {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 6rem;
  /* background-color: yellowgreen; */
}
.titlePrincipal {
  font-size: 3rem;
  color: #cff2fe;
}
.subtitlePrincipal {
  font-size: 2rem;
  color: #cff2fe;
}
.containServices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  width: 98%;
  height: 100%;
  /* background-color: #13aaff; */
}
.servicesIntern {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  width: 30rem;
  height: 50rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(34, 176, 238, 1);
  -moz-box-shadow: 0px 0px 8px 1px rgba(34, 176, 238, 1);
  box-shadow: 0px 0px 8px 1px rgba(34, 176, 238, 1);

  /* efect rigth scroll */
  opacity: 0;
  transform: translateX(-8rem);
  transition: opacity 0.5s ease, transform 1s ease;
  /* background-color: tomato; */
}
.servicesIntern.visible {
  /* efect rigth scroll */

  opacity: 1;
  transform: translateX(0);
}
.servicesIntern:hover {
  transform: rotateZ(5deg);
  -webkit-box-shadow: 0px 0px 39px -5px rgba(6, 147, 212, 1);
  -moz-box-shadow: 0px 0px 39px -5px rgba(6, 147, 212, 1);
  box-shadow: 0px 0px 39px -5px rgba(6, 147, 212, 1);
}
.containImgServices {
  width: 100%;
  height: 18rem;
}
.imgServicesInter {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.titleIntern {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
}
.title {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  color: #0874b2;
}
.containDescriptionServices {
  width: 100%;
  padding: 1rem;
}
.description {
  font-size: 1.5rem;
  text-align: start;
  color: #a5e4fc;
}
.containBtnVewServices {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  height: 5rem;
  padding: 0.5rem 1rem;
  /* background-color: brown; */
}
.btnServices {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  color: #0a3061;
  transition: all ease 0.4s;
  background-color: #d4f2ff;
}
.btnServices:hover {
  cursor: pointer;
  transform: scale(1.1);
  /* color: #cff2fe; */
  font-weight: bold;
  background-color: #d4f2ff;
}
/* ********RESERVS-MOTOR******** */
.containReservSectionFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
  margin-top: 20rem;
  width: 80%;
  height: 100%;
  /* background-color: yellowgreen; */
}
.containReservsMotor {
  width: 80%;
  height: 100%;
  /* background-color: violet; */
}
.titleText {
  font-size: 3rem;
  font-weight: 400;
  color: #d4f2ff;
}
.spanTtileInternMotor {
  font-size: 3.5rem;
  font-weight: 900;
}

.textSpanEnterprises {
  color: #14abff;
  font-weight: 900;
}
.testDescriptionReservs {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #afb0b0;
}
.containImgReservs {
  width: 80%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.imgReservs {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.containBtnContact {
  width: 25rem;
  height: 5rem;
  padding: 0.5rem 1rem;
  margin: auto;
  margin-top: 4rem;
  /* background-color: brown; */
}

.btnContact {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  color: #effbff;
  font-weight: bold;
  transition: all ease 0.4s;
  background-color: #14abff;
}
.btnContact:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #06364b;
  font-weight: bold;
  background-color: #b2eaff;
}
/* **********OFFER ENTERPRISES******** */
.titleOfferContain {
  width: auto;
  height: auto;
  margin-top: 11rem;
  /* background-color: blueviolet; */
}
.titleOffer {
  font-size: 3rem;
  color: #edfbff;
  text-align: center;
}
.titleOffer span {
  color: #14abff;
}
/* **********FUNCTIONS ENTERPRISES******** */
.titleFunctionContain {
  width: auto;
  height: auto;
  margin-top: 4rem;
}
.titleFunction {
  font-size: 3rem;
  color: #edfbff;
  text-align: center;
}
.titleFunction span {
  color: #14abff;
}
.containImgFunctionsTextFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
  margin-top: 6rem;
  width: 85%;
  height: 100%;
  /* background-color: tomato; */
}
.containImgGeo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20rem;
}
.imgGeolocalization {
  width: 50%;
  height: 100%;
  transition: transform 0.3s ease; /* Agrega una transición suave al cambio de transformación */
}
.containImgGeo:hover .imgGeolocalization {
  transform: translate(
    -10px,
    -10px
  ); /* Mueve la imagen 5px hacia arriba y hacia la izquierda al pasar el mouse */
}
.containImgGeo:hover .imgGeolocalization {
  transform: translate(
    5px,
    5px
  ); /* Por ejemplo, mueve la imagen 5px hacia abajo y hacia la derecha */
}
.descriptionRightFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: auto;
  width: 50%;
  height: 100%;
  /* background-color: yellowgreen; */
}
.controlContainTextFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.containIconControl {
  width: 3rem;
  height: auto;
  /* background-color: #0089ff; */
}
.iconControl {
  width: 100%;
  height: 100%;
  color: #edfbff;
}
.containDescriptionControl {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  /* background-color: #0089ff; */
}
.titleControl {
  color: #edfbff;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.descriptionControl {
  color: #afb0b0;
  font-size: 1.6rem;
}
.containGridFunctionDown {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: auto;
  margin-top: 10rem;
  width: 90%;
  /* background-color: yellowgreen; */
}
.containInternGridFunction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

/* *******CONTAIN MAPS******* */

.containImgAndText {
  position: relative;
  margin-top: 8rem;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.containImgMap {
  width: 100%;
  height: 40rem;
  margin: auto;
  margin-top: 4rem;
  opacity: 0.6;
  clip-path: circle(70% at 50% top);
  background: rgb(207, 242, 254);
  background: radial-gradient(
    circle,
    rgba(207, 242, 254, 1) 0%,
    rgba(8, 41, 68, 0.4766281512605042) 100%
  );
}
.imgMaps {
  width: 100%;
  height: 100%;
}

.textImgMpas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: auto;
  margin: auto;
  color: #edfbff;

  /* background-color: rgb(50, 91, 205); */
}
.iconMaps {
  font-size: 3.5rem;
}
.textMapsTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.textLocation {
  font-size: 2rem;
}

/* **************FINISH CONTACT*************** */

.containFinishContac {
  width: 45%;
  height: 100%;
  margin: auto;
  margin-top: 5rem;
  /* background-color: yellowgreen; */
}
.titleFinishContact {
  font-size: 3rem;
  color: #edfbff;

  line-height: 1;
  text-align: center;
}
.textBlueInternFinish {
  color: #14abff;
}
.textBlueIntern2 {
  font-size: 2rem;
}
.descriptionFinishContac {
  font-size: 1.6rem;
  color: #afb0b0;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  /* background-color: yellowgreen; */
}
@media screen and (max-width: 480px) {
  

  /* *********OUR ENTERPRISES******** */
  .containOurEnterprisesFlex {
    flex-direction: column;
    height: fit-content;
    /* background-color: rgb(83, 83, 12); */
  }
  .containImgEnterprises {
    width: 100%;
    height: 18rem;
    /* background-color: tomato; */
  }

  .containTextOur5Enterprises {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: rgb(114, 17, 114); */
  }
  .textTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .textInterEnterprises {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  /* **********SERVICES GRID********** */
  .containTitlePrincipal {
    margin: 6rem 0;
    /* background-color: yellowgreen; */
  }
  .titlePrincipal {
    font-size: 2rem;
  }
  .subtitlePrincipal {
    font-size: 1.6rem;
  }
  .containServices {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
    gap: 2rem;

    /* background-color: #13aaff; */
  }
  .servicesIntern {
    margin: auto;
    width: 75%;
    gap: 1rem;
    /* background-color: tomato; */
  }
  .containImgServices {
    width: 100%;
    height: 18rem;
  }
  .imgServicesInter {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .titleIntern {
    height: auto;
  }
  .title {
    font-size: 2rem;
  }
  .containDescriptionServices {
    width: 100%;
    padding: 1rem;
  }
  .description {
    text-align: center;
  }
  .containBtnVewServices {
    position: static;
    bottom: auto;
    left: auto;
    transform: none;
    width: 20rem;
    height: 5rem;
    padding: 0.5rem 1rem;
    /* background-color: brown; */
  }
  /* ********RESERVS-MOTOR******** */
  .containReservSectionFlex {
    flex-direction: column;
    margin-top: 8rem;
    width: 98%;
    /* background-color: yellowgreen; */
  }
  .containReservsMotor {
    text-align: center;
    /* background-color: violet; */
  }
  .titleText {
    font-size: 2rem;
  }
  .spanTtileInternMotor {
    font-size: 3rem;
  }
  .testDescriptionReservs {
    font-size: 1.6rem;
  }
  .containImgReservs {
    width: 95%;
  }
  /* **********OFFER ENTERPRISES******** */
  .titleOfferContain {
    margin-top: 10rem;
    /* background-color: blueviolet; */
  }
  .titleOffer {
    font-size: 2.7rem;
  }

  /* **********FUNCTIONS ENTERPRISES******** */

  .titleFunction {
    font-size: 2.7rem;
  }

  .containImgFunctionsTextFlex {
    flex-direction: column;
    margin-top: 6rem;
    width: 98%;
    text-align: center;
    /* background-color: tomato; */
  }
  .containImgGeo {
    width: 98%;
  }
  .imgGeolocalization {
    width: 60%;
  }

  .descriptionRightFlex {
    flex-direction: column;
    width: 98%;
    /* background-color: yellowgreen; */
  }

  .containIconControl {
    width: 2rem;
    /* background-color: #0089ff; */
  }
  .containGridFunctionDown {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    margin-top: 3rem;
    width: 98%;
    /* background-color: yellowgreen; */
  }
  .containInternGridFunction {
    justify-content: center;
    text-align: center;
    gap: 0;
  }

  /* *******CONTAIN MAPS******* */

  .containImgAndText {
    text-align: center;
  }
  .textImgMpas {
    top: 35%;
  }
  .iconMaps {
    font-size: 2.5rem;
  }
  .textMapsTitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .textLocation {
    font-size: 1.6rem;
  }

  /* **************FINISH CONTACT*************** */

.containFinishContac {
  width: 100%;
  margin-top: 0;
}
.titleFinishContact {
  font-size: 2.5rem;
}
.textBlueIntern2 {
  font-size: 2rem;
}

}
