* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  font-size: 1.6rem;
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    circle,
    rgba(5, 24, 48, 1) 0%,
    rgba(2, 7, 19, 0.9640231092436975) 100%,
    rgba(5, 24, 48, 1) 100%
  );
}
h2,h3,p{
  font-family: "Roboto", sans-serif;

}
a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
